<% include header.ejs %>
<div class="result">
    <% if(error) { %>
    <%= error %>
    <% } else { %>
    <%= quantidade %> dolares na cotação <%= cotacao %> é igual a <%= conversao %> reais
    <% }%>
</div>
<% include footer.ejs %>