<% include header.ejs %>
<div class="d-flex justify-content-center">
    <% if(error) { %>
    <div class="alert alert-danger" role="alert">
        Atenção: <%= error %>
    </div>
    <% } else { %>
    <div class="alert alert-primary" role="alert">
        <%= quantidade %> dolares na cotação <%= cotacao %> é igual a <%= conversao %> reais
    </div>
    <% }%>
</div>
<% include footer.ejs %>