<div class="tile">
    <div class="tile box tile-box-fixed">
        <article class="tile is-child">
            <figure>
                <img src="images/image.png" alt="An man with computer">
            </figure>
            <p class="title is-1 font-color">Convert My Money</p>
            <p class="subtitle is-3 font-color">Conversor de Unidades</p>
        </article>
    </div>
</div>