<div class="hero-foot">
            <nav class="tabs">
                <div class="container">
                    <ul>
                        <li class="is-active"><a>Overview</a></li>
                        <li><a>Modifiers</a></li>
                        <li><a>Grid</a></li>
                        <li><a>Elements</a></li>
                        <li><a>Components</a></li>
                        <li><a>Layout</a></li>
                    </ul>
                </div>
            </nav>
        </div>
</section>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

<script>
    $('#btnConvert').click(function () {
        event.preventDefault();

        const cotacao = $('#cotacao').val();
        const quantidade = $('#quantidade').val();

        $('#cotacao').click(function () {
            $('#cotacao').removeClass('is-invalid');
        })
        $('#quantidade').click(function () {
            $('#quantidade').removeClass('is-invalid');
        })

        if (!cotacao) {
            $('#cotacao').addClass('is-invalid');
            return false;
        }

        if (!quantidade) {
            $('#quantidade').addClass('is-invalid');
            return false;
        }

        $('#form').submit();
    })
</script>

</body>

</html>