<% include header.ejs %>

<section class="hero is-fullheight bg-color">
    <% include navbar.ejs %>
    <div class="hero-body hero-fix">
        <div class="container">
            <div class="tile is-ancestor">
                <% if(type === 'initial') { %>
                    <% include form.ejs %>
                <% } else { %>
                    <% include cotacao.ejs %>
                <% } %>
                <% include fixed.ejs %>
            </div>
        </div>
    </div>
    <% include footer.ejs %>