<% include header.ejs %>

<form method="GET" action="/cotacao">
    <input type="text" name="cotacao" placeholder="Cotação Dolar"><br />
    <input type="text" name="quantidade" placeholder="Quantidade de Dolares"><br />
    <button>Converter!</button>
</form>

<% include footer.ejs %>