.bg-color {
    background-color: #F8F7FF;
}
.box-left {
    background-color: #fff; 
    padding: 3rem;
}
@media screen and (min-width: 770px) {
    .box-left {
        border-radius: 2rem 0 0 2rem; 
        padding: 1rem;
    }
    .tile-box-fixed {
        border-radius: 0 2rem 2rem 0; 
    }
}
@media screen and (min-width: 850px) {
    .box-left {
        padding: 3rem;
    }
}
.hero-fix {
    padding-top: 0.5rem !important;
}
.li-item {
    background-color: #E4D5F1; 
    border-radius: 1rem 1rem 0 0;
    margin-right: 0.2rem;
}
.tile-box-fixed {
    background-color: #E4D5F1; 
    padding: 3rem;
}
.font-color {
    color: #2F2656;
}
.button-color {
    background-color: #6236FF;
    color: #fff;
}
.button-color:hover {
    color: #fff;
}
.button-color:focus {
    color: #fff;
}
.card-fix {
    margin-top: 1.5rem;
}